<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 核心：namespace 必须指向你的接口全路径 -->
<mapper namespace="com.chatroom.mapper.UserMapper">

    <!-- 1. 根据名字查用户 -->
    <select id="getUserByName" resultType="com.chatroom.pojo.User">
        select * from user where username = #{username}
    </select>

    <!-- 2. 注册（插入用户） -->
    <!-- useGeneratedKeys="true" 表示让数据库自动生成ID，并回填到 user 对象中 -->
    <insert id="addUser" parameterType="com.chatroom.pojo.User" useGeneratedKeys="true" keyProperty="id">
        insert into user(username, password, create_time)
        values(#{username}, #{password}, now())
    </insert>

    <!-- 3. 登录（根据账号密码查） -->
    <select id="login" resultType="com.chatroom.pojo.User">
        select * from user where username = #{username} and password = #{password}
    </select>

</mapper>